{% extends 'layout/base.html'%}
{% block title %} Menu {% endblock %}
{% block body %}
 <h2>Menu:</h2>
  <ul>
    <h2>Pizza</h2>
    {% for name in pizza_names %}
      <h3>{{name}}</h3>
      {% for pizza in Pizzas %}
        {% if pizza.name == name %}
          <li><a href="{% url 'dish' pizza.id %}">{{pizza}}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <h2>Salads</h2>
    {% for name in salad_names %}
      <h3>{{name}}</h3>
      {% for salad in Salads %}
        {% if salad.name == name %}
          <li><a href="{% url 'dish' salad.id %}">{{salad}}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{%endblock%}
